@model SistemPendukungKeputusan.Models.Vacancy

@{
    ViewBag.Title = "Edit";
}

@section css{
    @Styles.Render("~/bundles/metronic/styles/plugin-select2")
}
@section jsPlugin{
    @Scripts.Render("~/bundles/metronic/scripts/plugin-select2")
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(@ViewContext.RouteData.Values["action"].ToString(), @ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-basket font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">
                            @ViewContext.RouteData.Values["controller"]
                        </span>
                        <span class="caption-helper">@ViewContext.RouteData.Values["action"]</span>
                    </div>

                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-blue-sharp">
                                    <span class="caption-subject bold uppercase">
                                        @ViewBag.Title
                                    </span>
                                </div>
                                @Html.Partial("~/Views/Shared/_ActionButtonPartial.cshtml", Model, new ViewDataDictionary { { "status", "Entered" } })
                            </div>
                            <div class="portlet-body">
                                @Html.EditorFor(model => model.Name)

                                @Html.EditorFor(model => model.Active)

                                @Html.EditorFor(model => model.Study)

                                @Html.EditorFor(model => model.Experience)

                                @Html.EditorFor(model => model.Certificate)

                                @Html.EditorFor(model => model.Age)

                            </div>
                            <div class="form-group">
                                @Html.Partial("~/Views/Shared/_ActionButtonPartial.cshtml", Model, new ViewDataDictionary { { "status", "Entered" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>