@model SistemPendukungKeputusan.Models.Report

@{
    ViewBag.Title = "Details";
}

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-basket font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">
                @ViewContext.RouteData.Values["controller"]
            </span>
            <span class="caption-helper">@ViewContext.RouteData.Values["action"]</span>
        </div>
    </div>

    <div class="portlet-body">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_details" data-toggle="tab" aria-expanded="true"> Details </a>
            </li>
            @Html.Partial("~/Views/Shared/_ActionButtonPartial.cshtml", Model, new ViewDataDictionary { { "status", "Entered" } })
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab_details">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Name)

                        @Html.DisplayFor(model => model.FileName)

                        @Html.DisplayFor(model => model.Query)

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix margin-bottom-20"> </div>
    </div>
</div>