@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using SistemPendukungKeputusan.Models.Security
@{
    SistemPendukungKeputusan.DAL.SPKContext dbcontext = new SistemPendukungKeputusan.DAL.SPKContext();
    string currentUserId = User.Identity.GetUserId();
    IdentityUser currentUser = dbcontext.Users.FirstOrDefault(x => x.Id == currentUserId);
    SistemPendukungKeputusanApplicationUser user = (SistemPendukungKeputusanApplicationUser)currentUser;
}
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="heading">
            <h3 class="uppercase">Pelangi Jaya</h3>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">Master</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                @{
                    if (SPKPemilihanKaryawan.Web.CustomRoleProvider.IsUserInRole(user, "Vacancy_Navigate"))
                    {
                        <li class="nav-item  ">
                            <a href="@Url.Action("Index", "Vacancies")" class="nav-link ">
                                <span class="title">Vacancy</span>
                            </a>
                        </li>
                    }
                    if (SPKPemilihanKaryawan.Web.CustomRoleProvider.IsUserInRole(user, "Report_Navigate"))
                    {
                        <li class="nav-item  ">
                            <a href="@Url.Action("Index", "Reports")" class="nav-link ">
                                <span class="title">Report</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">Inquiry</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                @{
                    if (SPKPemilihanKaryawan.Web.CustomRoleProvider.IsUserInRole(user, "Report_Read"))
                    {
                        <li class="nav-item  ">
                            <a href="@Url.Action("ShowReport", "Reports")" class="nav-link ">
                                <span class="title">Reports</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>

        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-bulb"></i>
                <span class="title">System</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                @{
                    if (SPKPemilihanKaryawan.Web.CustomRoleProvider.IsUserInRole(user, "ApplicationRole_Navigate"))
                    {
                        <li class="nav-item  ">
                            <a href="@Url.Action("Index", "ApplicationRoles")" class="nav-link ">
                                <span class="title">Application Roles</span>
                            </a>
                        </li>
                    }
                    if (SPKPemilihanKaryawan.Web.CustomRoleProvider.IsUserInRole(user, "ApplicationUser_Navigate"))
                    {
                        <li class="nav-item  ">
                            <a href="@Url.Action("Index", "ApplicationUsers")" class="nav-link ">
                                <span class="title">Application Users</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item  ">
                        <a href="@Url.Action("Index", "Manage")" class="nav-link ">
                            <span class="title">My Account</span>
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>